@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}
.active {
  display: inline-block;
}

.close-icon.active {
  display: inline-block;
  z-index: 20;
}
