@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("./images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("./images/mobile/image-hero.jpg");
  }
} */

.active {
  display: inline-block;
}

.close-icon.active {
  display: inline-block;
  z-index: 20;
}
